* {
  box-sizing: border-box;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
    Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: aquamarine;
  color: #212121;
  line-height: 1.5;
}

#search-box {
  font: inherit;
  padding: 8px;
  max-width: 320px;
  margin-bottom: 16px;
  border: 2px solid #5d00ffe3;
  background-color: #00ffde;
}

.country {
  display: inline-block;
  padding: 30px;
  border: 1px solid #3f76cde3;
  box-shadow: 12px 12px 30px #48b2cf, -10px -10px 10px #41abc9;
}

.country__list {
  display: flex;
  gap: 20px;
  flex-direction: column;
  flex-wrap: wrap;
}
.country__item {
  list-style: none;
  display: flex;
  text-align: center;
  gap: 20px;
  margin-bottom: 20px;
  border: 2px solid slateblue;
  box-shadow: 12px 12px 30px #48b2cf, -10px -10px 10px #41abc9;
}

.country__img {
  background-size: contain;
}

.country__title {
  color: darkslateblue;
  font-size: 28px;
  font-weight: 900;
}

.country__desc {
  color: blueviolet;
  font-size: 24px;
  font-weight: 700;
}

.country__text {
  margin-left: 10px;
  font-size: 18px;
 }
